html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

h1 {
  font-size: 75px;
  position: absolute;
  color: red;
  left: 2.5%;
  top: 2.5%;
  z-index: 2;
  font-family: fantasy
}

h2 {
  font-size: 32px;
  position: absolute;
  left: 82%;
  top: 80%
}

h3 {
  font-size: 15px;
  font-style: italic;
  position: absolute;
  left: 82%;
  top: 87.5%
}

h4 {
  font-size: 20px;
  position: absolute;
  left: 3.5%;
  top: 15%;
}

body {
  background-color: #f5f5dc;
}

.cow-placement {
  position: absolute;
  width: 320px;
  height: 320px;
  left: 140px;
  top: 280px;

}

.bee-placement {
  position: absolute;
  width: 320px;
  height: 320px;
  left: 740px;
  top: 280px;

}

.penguin-placement {
  position: absolute;
  width: 320px;
  height: 320px;
  left: 1340px;
  top: 280px;

}